@import "../../assets/variables.scss";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  width: 510px;
  height: 650px;
  border-radius: 1.25rem;
}
.header {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: $accent-color;
  color: $main-color;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}
.form {
  padding: 0 1rem;
  margin-bottom: 54px;
}
.fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
  margin-bottom: 1.5rem;
}
.legend {
  font-weight: 700;
  font-size: $base-font-size;
  color: $main-color;
  margin-bottom: 0.5rem;
  line-height: 100%;
}
.input {
  display: none;
}

.label {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: 100%;
  align-items: center;
  color: $black-color;

  border: 1px solid $accent-color;
  border-radius: 0.5rem;
  transition: background-color 300ms ease-in-out 0s;
  cursor: pointer;
  &:hover {
    background-color: $accent-color-opacity;
  }
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.input[type="radio"]:checked + label,
.input[type="checkbox"]:checked + label {
  background-color: $accent-color;

  & .buttonDelete {
    position: absolute;
    display: block;
    right: 1rem;
    top: 0.5rem;
    transform: rotate(45deg);
    font-size: 1.1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.text {
  margin: 0 2rem;
}
.buttonDecrement,
.buttonIncrement {
  width: 2rem;
  height: 2rem;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: 100%;
  background-color: $white-color;
  border: 1px solid $accent-color;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 300ms ease-in-out 0s;
  &:hover {
    background-color: $accent-color;
  }
}
.dateRange {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: 100%;
  align-items: center;
  text-align: start;
  padding: 0.5rem 2rem;
  color: $black-color;

  border: 1px solid $accent-color;
  border-radius: 0.5rem;
  transition: background-color 300ms ease-in-out 0s;
  &:focus-visible {
    outline: 1px solid $accent-color;
  }
  &:not(:last-child) {
    margin-right: 1rem;
  }
}
.resultText {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;

  text-align: center;

  color: $main-color;
  background: $accent-color;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
}
.additionalText {
  width: 100%;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: $main-color;
}
.buttonDelete {
  display: none;
}

::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
