.fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border: none;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.title {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  margin-bottom: 10px;
  align-items: center;
}
.label {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.input {
  margin-left: 20px;
}
.buttonsWrapper {
  display: flex;
  align-items: center;
}
.button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 116, 77);
  padding: 12px 30px;
  font-weight: 900;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
